body {
	background-color: transparent;
	color: white;
}

.whitebox {
	background: rgba(255, 255, 255, 0.5);

	border-width: 1px;
	border-color: black;
	border-radius: 10px;

	padding: 5px;
	padding-left: 10px;

	-webkit-text-stroke: 2px black;
	font-weight: bold;
	font-size:1.25em;
}

footer {
	float: bottom;
	position: absolute;
	bottom: 10px;
}

aside {
	float: right;
}
